body {
    font-family: Arial, Helvetica, sans-serif;
}
/* Grape Barva */
.is-grape {
    background-color: rgba(211, 37, 37, 0.884);
}
.navMenu:hover {
    text-decoration: none;
}
.material-icons {
    font-size: 120px;
}

.maxWidth {
    width: 100%;
}
.smallHeight{
    height: 2rem;
}

.text_center {
    display: inline-block;
    display: flex;
}
.bold {
    font-weight: bold;
}
.textColor_default {
    color: whitesmoke;
}
#lanNav {
    text-decoration: none;
}

.column_default{
    height: 15rem;
}

.underLine {
    text-decoration:underline;
}
.inline {
    display: inline;
}

.inline_block {
    display: inline-block;
}
/* vysualizace wifi extender */
.wifiExtenderVisual{
    position: relative;
}
.center {
    padding-top: 10%;
    padding-left: 10%;
    position: absolute;
}
.center_btn {
    margin-top: 10%;
    margin-left: 40%;
    position: absolute;
}
.centerPage {
    background-color:rgba(63, 63, 63, 0.116);
    height: 100vh;
}

#loading {
    padding-top: 20%;
    text-align: center;
}
.right{
    margin-top: 1%;
    margin-left: 50%;
    position: absolute;
}
.bottom {
    margin-top: 40%;
    margin-left: 50%;
    position: absolute;
}

.bottom-menu {
    width: 30rem;
    height: 17rem;
    top:75%;
    left: 102%;
    position: absolute;
    display: inline;
}

.middle {
    margin-top: 19%;
    margin-left: 50%;
    position: absolute;
}

.middle-menu {
    width: 30rem;
    height: 17rem;
    top:70%;
    left: 102%;
    position: absolute;
    display: inline;
}
.right-menu {
    width: 30rem;
    height: 17rem;
    top: 30%;
    left: 102%;
    position: absolute;
    display: inline;
}
.dropdown-menu{
    border: none;
}
.custom_menu {
    width: 30rem;
    height: 15rem;
    left: 50%;
    max-height: 15rem;
}

.lightBuleColor {
}


/* modal */
#modal_grey_m {
    background-color:grey;
    width: 40rem;
    max-height: 50rem;
    overflow-y: auto;
}

#table_dhcp {
    margin-left: 50%;
}

.right_context {
    width: 30%;
    height: 100%;
    margin-top: -10%;
    margin-left: 70%;
    position: absolute;
    border: grey;
}


/* zarovnani icon do radku s ostatnim textem */
.inline_form {
    margin-top: -2%;
}



.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}
