body {
    /* font-family: sans-serif; */
}

.material-icons {
    font-size: 120px;
}

.maxWidth {
    width: 100%;
}
.smallHeight{
    height: 2rem;
}

.text_center {
    display: inline-block;
    display: flex;
}

.textColor_default {
    color: whitesmoke;
}
#lanNav {
    text-decoration: none;
}

.column_default{
    /* background-color: rgba(128, 128, 128, 0.13); */
    height: 15rem;
}

.underLine {
    text-decoration:underline;
}
.inline {
    display: inline;
}

.inline_block {
    display: inline-block;
}
/* vysualizace wifi extender */
.wifiExtenderVisual{
    position: relative;
}
.center {
    padding-top: 10%;
    padding-left: 10%;
    position: absolute;
}
.centerPage {
    background-color:rgba(63, 63, 63, 0.116);
    height: 100vh;
}

#loading {
    padding-top: 20%;
    text-align: center;
}
.right{
    padding-top: 1%;
    padding-left: 50%;
    position: absolute;
}
.middle {
    padding-top: 25%;
    padding-left: 50%;
    position: absolute;
}

.middle-menu {
    width: 30rem;
    height: 17rem;
    top:80%;
    left: 102%;
    background-color:rgba(0, 152, 253, 0.048) ;
    position: absolute;
    display: inline;
}
.right-menu {
    width: 30rem;
    height: 17rem;
    top: 10%;
    left: 102%;
    background-color:rgba(0, 152, 253, 0.048) ;
    position: absolute;
    display: inline;
}
.dropdown-menu{
    border: none;
}
.custom_menu {
    width: 30rem;
    height: 15rem;
    left: 50%;
    max-height: 15rem;
    background-color:rgba(0, 152, 253, 0.048) ;
}

.lightBuleColor {
    background-color:rgba(0, 152, 253, 0.009) ;
}


/* modal */
#modal_grey_m {
    background-color:grey;
    width: 40rem;
    max-height: 50rem;
    overflow-y: auto;
}

#table_dhcp {
    padding-left: 80%;
}


/* zarovnani icon do radku s ostatnim textem */
.inline_form {
    margin-top: -2%;
}
